.Project {
    padding: 0.7em;
    border-radius: 0.5em;
    background-color: #ffffff;
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: #000000;
    transition: transform 0.4s ease-in-out;
    justify-content: flex-start;
    filter: blur(2px);

    img {
        width: 20em;
        border-radius: 0.5em;
        // margin-bottom: 1em;
        filter: blur(3px);
    }

    .Project-header {
        font-size: 1.3em;
        font-weight: bold;
    }
    .Project-paragraph {
        max-width: 20em;
        margin-bottom: 2em;
        font-size: 15px;
        color: #555;
    }

    .Project-button-container {
        margin-top: auto;
        align-self: flex-end;

        .Project-anchor {
            align-self: center;
        
                .Project-button {
                    width: fit-content;
                    margin-top: auto;
                    cursor: pointer;
                    background-color: #97979700; /* Green background */
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                    color: #000000; /* White text */
                    border: none; /* No border */
                    text-align: center; /* Center the text */
                    text-decoration: none; /* Remove underline from text */
                    display: inline-block; /* Make the button inline */
                    font-size: 12px; /* Increase font size */
                    border-radius: 0.5em; /* Rounded corners */
                    padding: 0.5em 1em;

                    .Project-button-icon {
                        width: 2em;
                    }
                }
        
                .Project-button:hover {
                    background-color: #9797973e; 
                    color: #000000;
                }
            }
    }
}

.Project:hover {
    transform: rotate(3deg);
    filter: blur(0px);

    img {
        filter: blur(0px);
    }
    // box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5)
}

/* Mobile */
@media screen and (max-width: 480px) {
    /* Gaya CSS untuk layar kecil */
    .Project {
        width: 90vw;

        img {
            width: 100%;
        }
    }
}
  
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Gaya CSS untuk tablet */
}
  
  /* Laptop/Desktop */
@media screen and (min-width: 1280px) {
    /* Gaya CSS untuk laptop/desktops */
}
  