.Iframe {
    // max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    iframe {
        border-radius: 2em;
        overflow: scroll;
        // -ms-overflow-style: none;  /* Internet Explorer 10+ */
        // scrollbar-width: none;      /* Firefox */
        box-shadow: 1px 1px 30px 0.05px rgba(255, 255, 255, 0.8);
        // margin: auto;
        border: none;
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        // border: 0.5px solid #000;
        transition: transform 500ms ease-in-out;
        max-width: 80vw;
        height: 100%;
    }

    iframe::-webkit-scrollbar {
        width: 0px;  /* Hide vertical scrollbar */
        height: 0px; /* Hide horizontal scrollbar */
      }

    .Iframe-button-container {
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease;
    opacity: 0; 
    z-index: 20; 

    }

    .Iframe-button {
        position: relative;
        margin: auto;
        background-color: #000000;  /* Blue background */
        color: white;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s;
        z-index: 100;
        
        &:hover {
            background-color: #ffffff;  /* Darker blue on hover */
            color: #000000;
        }

        padding: 0.5em 1em 0.7em 1em;
        cursor: pointer;
        background-color: #000000; /* Green background */
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        font-weight: bold;
        color: #ffffff; /* White text */
        border: none; /* No border */
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove underline from text */
        display: inline-block; /* Make the button inline */
        font-size: 16px; /* Increase font size */
        border-radius: 1em; /* Rounded corners */
        transition: all 0.3s ease; /* Smooth transition for hover effect */
        box-shadow: 1px 1px 10px 0.05px rgba(255, 255, 255, 0.8);
    }
    .Iframe-button:hover {
        background-color: #ffffff;
        color: #000000;
        box-shadow: 1px 1px 10px rgba(0,0,0, 0.8);
    }
}

.Iframe:hover .Iframe-button-container {
    visibility: visible;
    opacity: 1; 
}
.Iframe:hover iframe{
    filter: blur(2px);
    transform: scale(1.03);
}
